## car price prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('cardekho_imputated.csv')

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

# DATA CLEANING

In [4]:
# check the null values
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
# droping uncessary colums
df.drop(columns=['car_name','brand'],axis=1,inplace=True)

In [6]:
df.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
df.drop(df.columns[0], axis=1,inplace=True)

In [8]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [9]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [10]:

# get all the numerical features 
num_features = [feature for feature in df.columns if df[feature].dtype !='O']
print(" number of numerical features: ",len(num_features))

 number of numerical features:  7

In [11]:
# get all the categorical features 
cat_features = [feature for feature in df.columns if df[feature].dtype =='O']
print(" number of categorical features: ",len(cat_features))

 number of categorical features:  4

In [12]:
## descrite features 
dis_features = [feature for feature in num_features if len(df[feature].unique()) <= 25]
print(" number of categorical features: ",len(dis_features))

 number of categorical features:  2

In [13]:
## descrite features 
dis_features = [feature for feature in num_features if len(df[feature].unique()) > 25]
print(" number of categorical features: ",len(dis_features))

 number of categorical features:  5

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  object
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.3+ MB

In [15]:
#independent and dependent features
from sklearn.model_selection import train_test_split
X = df.drop('selling_price',axis = 1)
y = df['selling_price']

In [16]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

# feature Encoding

In [17]:
len(df['model'].unique())

120

In [18]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [20]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [21]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [22]:
#create a column transformer with 3 types of transformers
num_features = X.select_dtypes(exclude='object').columns
onehotcolumns = ['seller_type','fuel_type','transmission_type']
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
numric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')
preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,onehotcolumns),
        ('StandardScaler',numric_transformer,num_features)
    ],remainder='passthrough'
)

In [23]:
X = preprocessor.fit_transform(X)

In [24]:
X

array([[ 1.        ,  0.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43257082, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
         0.06822523, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  1.32979434,
         0.91715831,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ...,  0.02099878,
         0.39588361, -0.40302241]])

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression ,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [34]:
def evaluate_regression(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_true, y_pred)

    return  mae, mse,rmse,r2

In [35]:
models = {
    "Decison Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "Linear Regression":LinearRegression(),
    "neighbours":KNeighborsRegressor(),
    "ridge":Ridge(),
    "Lasso":Lasso(),
    "AdaBoost":AdaBoostRegressor(),
    "GradiantBoost":GradientBoostingRegressor(),
    "XGBoost":XGBRegressor()

}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # train model
    #make predictions
    y_pred = model.predict(X_test)

    #checking performace
    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_regression(y_test, y_pred)
    print(list(models.keys())[i])
    print('mean_squared_error ', format(model_test_mse))
    print('mean_absolute_error ', format(model_test_mae))
    print('rmse ', format(model_test_rmse))
    print('r2 score  ', format(model_test_r2))

Decison Tree
mean_squared_error  98676472888.60413
mean_absolute_error  133077.14551431785
rmse  314128.11540612555
r2 score   0.8731233584507118
Random Forest
mean_squared_error  57855278545.33511
mean_absolute_error  104830.81046237696
rmse  240531.2423477148
r2 score   0.9256106017691027
Linear Regression
mean_squared_error  270286925822.75293
mean_absolute_error  284283.44595338346
rmse  519891.26346069033
r2 score   0.6524693637784766
neighbours
mean_squared_error  78779566186.25098
mean_absolute_error  116579.3732156761
rmse  280676.97836881987
r2 score   0.8987064850635158
ridge
mean_squared_error  270275613895.96536
mean_absolute_error  284241.112913625
rmse  519880.38421925995
r2 score   0.6524839084742713
Lasso
mean_squared_error  270286207881.65326
mean_absolute_error  284283.78899632714
rmse  519890.5729878676
r2 score   0.6524702868957395
AdaBoost
mean_squared_error  333266334015.8268
mean_absolute_error  456819.22091617936
rmse  577292.2431627042
r2 score   0.5714914410337151
GradiantBoost
mean_squared_error  70834520243.87033
mean_absolute_error  128315.55869194285
rmse  266147.55351847655
r2 score   0.908922098944061
XGBoost
mean_squared_error  77847118628.68152
mean_absolute_error  100338.51256731768
rmse  279010.9650689046
r2 score   0.8999053835868835

In [36]:
## hyperparameter tunning 
rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,8,'auto'],
             "min_samples_split":[2,8,15,10],
             "n_estimators":[100,200,500,1000]}
XGb_params = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.05, 0.1, 0.15],
    'max_depth': [3, 5, 7],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0]
}

In [37]:
#models list for hyper parameter tunning
randomcv_models = [
    ("RF",RandomForestRegressor(),rf_params),
    ('XGB',XGBRegressor(),XGb_params)
]

In [38]:
randomcv_models

[('RF',
  RandomForestRegressor(),
  {'max_depth': [5, 8, 15, None, 10],
   'max_features': [5, 7, 8, 'auto'],
   'min_samples_split': [2, 8, 15, 10],
   'n_estimators': [100, 200, 500, 1000]}),
 ('XGB',
  XGBRegressor(base_score=None, booster=None, callbacks=None,
               colsample_bylevel=None, colsample_bynode=None,
               colsample_bytree=None, device=None, early_stopping_rounds=None,
               enable_categorical=False, eval_metric=None, feature_types=None,
               feature_weights=None, gamma=None, grow_policy=None,
               importance_type=None, interaction_constraints=None,
               learning_rate=None, max_bin=None, max_cat_threshold=None,
               max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
               max_leaves=None, min_child_weight=None, missing=nan,
               monotone_constraints=None, multi_strategy=None, n_estimators=None,
               n_jobs=None, num_parallel_tree=None, ...),
  {'n_estimators': [100, 200, 300],
   'learning_rate': [0.05, 0.1, 0.15],
   'max_depth': [3, 5, 7],
   'subsample': [0.6, 0.8, 1.0],
   'colsample_bytree': [0.6, 0.8, 1.0]})]

In [39]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=20,cv=3,verbose=2,n_jobs=-1,scoring='accuracy')
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print("...........best params for {model_name}.............")
    print(model_param[model_name])

Fitting 3 folds for each of 20 candidates, totalling 60 fits
Fitting 3 folds for each of 20 candidates, totalling 60 fits
...........best params for {model_name}.............
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 5, 'max_depth': 8}
...........best params for {model_name}.............
{'subsample': 0.8, 'n_estimators': 100, 'max_depth': 7, 'learning_rate': 0.1, 'colsample_bytree': 0.8}

In [42]:
models = {
    "Random Forest":RandomForestRegressor(n_estimators=500,min_samples_split=2,max_features=8,max_depth=None),
    "Xgboost":XGBRegressor(n_estimators=300,learning_rate=0.1,max_depth=5,colsample_bytreel=0.5)
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # train model
    #make predictions
    y_pred = model.predict(X_test)

    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_regression(y_test, y_pred)
    print(list(models.keys())[i])
    print('mean_squared_error ', format(model_test_mse))
    print('mean_absolute_error ', format(model_test_mae))
    print('rmse ', format(model_test_rmse))
    print('r2 score  ', format(model_test_r2))

Random Forest
mean_squared_error  53497585580.19326
mean_absolute_error  102054.87826363157
rmse  231295.4508419767
r2 score   0.9312136541698945
Xgboost
mean_squared_error  75026524543.88147
mean_absolute_error  100588.70877400726
rmse  273909.70144170045
r2 score   0.903532087802887