# Holiday package predicition

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
%matplotlib inline

#to avoid waring during code execution
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Travel.csv')

In [3]:
df.head(5)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

# Data Cleaning
1. Handling missing values
2. Handling duplicates
3. check datatypes
4. understand dataset

In [5]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [6]:
## check all categories to find out is there recategory is there means spelling mistake
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [7]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [8]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [9]:
df['Designation'].value_counts()

Designation
Executive         1842
Manager           1732
Senior Manager     742
AVP                342
VP                 230
Name: count, dtype: int64

In [10]:
#replacing the spelling mistakes with correct ones
df['Gender'] = df['Gender'].replace('Fe Male','Female')
df['MaritalStatus'] = df['MaritalStatus'].replace('Single','Unmarried')

In [11]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [12]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [13]:
## checking the missing values
# these are the features with non values
feature_with_na = [features for features in df.columns if df[features].isnull().sum() >= 1]
for feature in feature_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5),'% missing values')

Age 4.62357 % missing values
TypeofContact 0.51146 % missing values
DurationOfPitch 5.13502 % missing values
NumberOfFollowups 0.92062 % missing values
PreferredPropertyStar 0.53191 % missing values
NumberOfTrips 2.86416 % missing values
NumberOfChildrenVisiting 1.35025 % missing values
MonthlyIncome 4.76678 % missing values

In [14]:
# statistcs on numerical values
df[feature_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [16]:
# filling the missing values with median and mode for int and category respectively
df.Age.fillna(df.Age.median(),inplace=True)
#filling Duration of pitch
df.DurationOfPitch.fillna(df.DurationOfPitch.median(),inplace = True)
#filling Nunmber of follow ups
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace = True)
#filling the preffered property star
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace = True)
#filling number of tips
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace = True)
#filling number of childerns visiting
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace = True)
#filling monthly income
df.MonthlyIncome.fillna(df.MonthlyIncome.median(),inplace = True)
#filling the type of contact
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace = True)

In [17]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [18]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [19]:
df.drop('CustomerID',axis=1,inplace=True)

In [20]:
df['TotalVisiting'] = df['NumberOfPersonVisiting']+df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting','NumberOfChildrenVisiting'],axis=1,inplace=True)

In [21]:
# get all the numerical features 
num_features = [feature for feature in df.columns if df[feature].dtype !='O']
print(" number of numerical features: ",len(num_features))

 number of numerical features:  12

In [22]:
# get all the categorical features 
cat_features = [feature for feature in df.columns if df[feature].dtype =='O']
print(" number of categorical features: ",len(cat_features))

 number of categorical features:  6

In [23]:
## descrite features 
dis_features = [feature for feature in num_features if len(df[feature].unique()) <= 25]
print(" number of categorical features: ",len(dis_features))

 number of categorical features:  9

In [24]:
## descrite features 
dis_features = [feature for feature in num_features if len(df[feature].unique()) > 25]
print(" number of categorical features: ",len(dis_features))

 number of categorical features:  3

In [25]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

## Train Test split and model training

In [26]:
from sklearn.model_selection import train_test_split
X = df.drop(['ProdTaken'],axis=1)
y = df['ProdTaken']

In [27]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [28]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [29]:
#spliiting
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [30]:
X_train.shape,X_test.shape

((3910, 17), (978, 17))

In [31]:
#create a column transformer with 3 types of transformers
cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
numric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')
preprocessor = ColumnTransformer(
    [
        ('OneHotEncoder',oh_transformer,cat_features),
        ('StandardScaler',numric_transformer,num_features)
    ]
)

In [32]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

## applying meachine learing algorithm

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,roc_auc_score,f1_score,precision_score,recall_score

In [40]:
models = {
    "Decison Tree":DecisionTreeClassifier(),
    "Random Forest":RandomForestClassifier(),
    "Ada Boost":AdaBoostClassifier(),
    "Gradient Boost":GradientBoostingClassifier()
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # train model
    #make predictions
    y_pred = model.predict(X_test)

    #checking performace
    print("Accuracy of ",list(models.keys())[i])
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
    print("\nClassification Report:\n", classification_report(y_test, y_pred))
    print("Accuracy :", accuracy_score(y_test, y_pred))
    print("Precision:", precision_score(y_test, y_pred))
    print("Recall   :", recall_score(y_test, y_pred))
    print("F1 Score :", f1_score(y_test, y_pred))
    print("ROC AUC  :", roc_auc_score(y_test, y_pred))

Accuracy of  Decison Tree
Confusion Matrix:
 [[751  36]
 [ 43 148]]

Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.95      0.95       787
           1       0.80      0.77      0.79       191

    accuracy                           0.92       978
   macro avg       0.88      0.86      0.87       978
weighted avg       0.92      0.92      0.92       978

Accuracy : 0.9192229038854806
Precision: 0.8043478260869565
Recall   : 0.774869109947644
F1 Score : 0.7893333333333333
ROC AUC  : 0.8645628904249022
Accuracy of  Random Forest
Confusion Matrix:
 [[780   7]
 [ 64 127]]

Classification Report:
               precision    recall  f1-score   support

           0       0.92      0.99      0.96       787
           1       0.95      0.66      0.78       191

    accuracy                           0.93       978
   macro avg       0.94      0.83      0.87       978
weighted avg       0.93      0.93      0.92       978

Accuracy : 0.9274028629856851
Precision: 0.9477611940298507
Recall   : 0.6649214659685864
F1 Score : 0.7815384615384615
ROC AUC  : 0.8280134648775588
Accuracy of  Ada Boost
Confusion Matrix:
 [[756  31]
 [130  61]]

Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.96      0.90       787
           1       0.66      0.32      0.43       191

    accuracy                           0.84       978
   macro avg       0.76      0.64      0.67       978
weighted avg       0.82      0.84      0.81       978

Accuracy : 0.8353783231083844
Precision: 0.6630434782608695
Recall   : 0.3193717277486911
F1 Score : 0.43109540636042404
ROC AUC  : 0.6399908194016645
Accuracy of  Gradient Boost
Confusion Matrix:
 [[765  22]
 [116  75]]

Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.97      0.92       787
           1       0.77      0.39      0.52       191

    accuracy                           0.86       978
   macro avg       0.82      0.68      0.72       978
weighted avg       0.85      0.86      0.84       978

Accuracy : 0.8588957055214724
Precision: 0.7731958762886598
Recall   : 0.39267015706806285
F1 Score : 0.5208333333333334
ROC AUC  : 0.6823579501985804

In [42]:
## hyperparameter tunning 
rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,8,'auto'],
             "min_samples_split":[2,8,15,10],
             "n_estimators":[100,200,500,1000]}
ada_params = {
    "n_estimators":[50,60,70,80,90],
    
}

In [43]:
ada_params

{'n_estimators': [50, 60, 70, 80, 90]}

In [45]:
#models list for hyper parameter tunning
randomcv_models = [
    ("RF",RandomForestClassifier(),rf_params),
    ("ADABOOST",AdaBoostClassifier(),ada_params)
]

In [46]:
randomcv_models

[('RF',
  RandomForestClassifier(),
  {'max_depth': [5, 8, 15, None, 10],
   'max_features': [5, 7, 8, 'auto'],
   'min_samples_split': [2, 8, 15, 10],
   'n_estimators': [100, 200, 500, 1000]}),
 ('ADABOOST', AdaBoostClassifier(), {'n_estimators': [50, 60, 70, 80, 90]})]

In [47]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name,model,params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(X_train,y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print("...........best params for {model_name}.............")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 5 candidates, totalling 15 fits
...........best params for {model_name}.............
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 8, 'max_depth': 15}
...........best params for {model_name}.............
{'n_estimators': 60}

In [50]:
models = {
    "Random Forest":RandomForestClassifier(n_estimators=500,min_samples_split=2,max_features=8,max_depth=None),
    "adaboost":AdaBoostClassifier(n_estimators=60)
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) # train model
    #make predictions
    y_pred = model.predict(X_test)

    #checking performace
    print("Accuracy of ",list(models.keys())[i])
    print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
    print("\nClassification Report:\n", classification_report(y_test, y_pred))
    print("Accuracy :", accuracy_score(y_test, y_pred))
    print("Precision:", precision_score(y_test, y_pred))
    print("Recall   :", recall_score(y_test, y_pred))
    print("F1 Score :", f1_score(y_test, y_pred))
    print("ROC AUC  :", roc_auc_score(y_test, y_pred))

Accuracy of  Random Forest
Confusion Matrix:
 [[782   5]
 [ 59 132]]

Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.99      0.96       787
           1       0.96      0.69      0.80       191

    accuracy                           0.93       978
   macro avg       0.95      0.84      0.88       978
weighted avg       0.94      0.93      0.93       978

Accuracy : 0.934560327198364
Precision: 0.9635036496350365
Recall   : 0.6910994764397905
F1 Score : 0.8048780487804879
ROC AUC  : 0.8423731181436565
Accuracy of  adaboost
Confusion Matrix:
 [[759  28]
 [127  64]]

Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.96      0.91       787
           1       0.70      0.34      0.45       191

    accuracy                           0.84       978
   macro avg       0.78      0.65      0.68       978
weighted avg       0.83      0.84      0.82       978

Accuracy : 0.8415132924335378
Precision: 0.6956521739130435
Recall   : 0.33507853403141363
F1 Score : 0.45229681978798586
ROC AUC  : 0.649750194588769